server {
listen 80;
listen [::]:80;
server_name {{ item.1.vsname }};
root /var/www/{{ item.1.vsname }};
index index.html;
try_files $uri /index.html;
}

upstream test{{ item.0 }} {
server {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80
{% for upstreams in upstream.values() %}
server {{ upstreams.server }};
{% endfor %}
}
